<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='mdit.png') }}" alt="Logo" style="width:150px; height:150px;">
        <div id="qr-box">
            <h1>Scan QR Code</h1>
            <button id="scanButton">Start Scan</button>
        </div>

        <!-- Popup for scan result -->
        <div id="popup-container" style="display: none;">
            <div id="popup"></div>
            <button onclick="document.getElementById('popup-container').style.display='none'">Close</button>
        </div>
    </div>
    <a href="admin.html" class="admin-button">Admin Login</a>
</body>
</html>
